<h1>single article page</h1>
<p><strong>Title: </strong> <%= @article.title %></p>
<p><strong>Description: </strong> <%= @article.description %> </p>
<p> Written by Written by <%= @article.user.name %></p>

<%= link_to 'Edit article', edit_article_url %>
<%= link_to 'Go back', articles_path %>