<% if @user.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Enter username' %>
  <br>
  <%= f.label :email %>
  <%= f.email_field :email, placeholder: 'Enter email' %>
  <br>
  <%= f.label :password %>

  <%= f.password_field :password, placeholder: 'Enter password' %>
  <p>
    <%= f.submit(@user.new_record? ? "Signup" : "Update account") %>
  </p>
<% end %>