<h1><%= @user.name %>'s profile</h1>
<%= gravatar_for @user  %>
<div>
  <%= link_to "Edit your profile", edit_user_path(@user) %>
</div>
<h2>Articles</h2>

<%= render 'articles/article' %><br>
<%= link_to 'Articles', articles_path %><br>
<%= link_to 'Logout', login_path, method: :delete %>